{% load static %}
<aside itemscope itemtype="http://schema.org/WPSideBar">
    <nav class="attractions-nav-side">
        <section class="item-14" style="font-size: 18px; font-family: sans-serif;">
            <h2>
                <a href="https://krytota.ru/igrovyie-attrakczionyi" rel="nofollow">
                    <span class="logo">
                        <img alt="Игровые аттракционы" src="{% static '/img/titles/igrovyie_0x40_340.png' %}">
                    </span>
                    <span class="title">Как играть</span>
                </a>
            </h2>
            <ul>
                <li class="first">
                    <a href="https://krytota.ru/4-v-ryad">Правила игры</a>
                </li>
                <li>
                    <a href="https://krytota.ru/pipe-ball">Как бросать дротики</a>
                </li>
                <li>
                    <a href="https://krytota.ru/speed-test">Нюансы</a>
                </li>
                <li>
                    <a href="https://krytota.ru/avtobol">Главный приз</a>
                </li>
            </ul>
        </section>
        <section class="item-15"style="font-size: 18px; font-family: sans-serif;">
            <h2>
                <a href="https://krytota.ru/nastolnyie-attrakczionyi" rel="nofollow">
                    <span class="logo">
                        <img alt="Аттракцион" src="{% static '/img/titles/nastolnyie_0x40_340.png'%}">
                    </span>
                    <span class="title">
                        Как организовать
                    </span>
                </a>
            </h2>
            <ul>
                <li class="first">
                    <a href="https://krytota.ru/aeroxokkej-arenda" rel="nofollow">Размер аттракциона</a>
                </li>
                <li>
                    <a href="https://krytota.ru/arenda-bilyardnyx-stolov" rel="nofollow">Матрица для шариков</a>
                </li>
                <li>
                    <a href="https://krytota.ru/birpong" rel="nofollow">Шарики</a>
                </li>
                <li>
                    <a href="https://krytota.ru/boi-robotov" rel="nofollow">Дротики</a>
                </li>
                <li>
                    <a href="https://krytota.ru/dujbol" rel="nofollow">Призы</a>
                </li>
            </ul>
        </section>
    </nav>
</aside>