
        <ul class="breadcrumb" itemscope="http://schema.org/breadcrumblist">
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="" itemprop="item"><span itemprop="name">Главная</span></a>
                <meta content="1" itemprop="position">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="https://krytota.ru/igrovyie-attrakczionyi" itemprop="item"><span itemprop="name">Правила игры</span></a>
                <meta content="2" itemprop="position">
            </li>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="item">Боулинг «Мини»</span>
                <meta content="3" itemprop="position">
            </li>
        </ul>
