{% load static %}
<!DOCTYPE html>
{% csrf_token %}

<html lang="ru">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width, initial-scale=1" name="viewport">

    <title>
        {% block page_title %} {% endblock %}
    </title>

	<meta content="Лопни шарик" name="description">
	<meta content="Лопни шарик" property="og:description">
	<meta content="Лопни шарик" name="keywords">
	<meta content="website" property="og:type">
	<meta content="Лопни шарик" property="og:site_name">
	<meta content="ru_RU" property="og:locale">
	<link href="{% static 'img/fav/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="180x180">
	<link href="{% static 'img/fav/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
	<link href="{% static 'img/fav/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">
	<link href="{% static 'img/fav/manifest.json' %}" rel="manifest">
	<link href="{% static 'img/fav/safari-pinned-tab.svg' %}" rel="mask-icon">
	<meta content="#00aba9" name="msapplication-TileColor">
	<meta content="#ffffff" name="theme-color">
	<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/owl.theme.green.min.css' %}" rel="stylesheet">
	<link href="{% static "css/app.min.css" %}" rel="stylesheet">
</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
	<header itemscope itemtype="http://schema.org/WPHeader">
		<!--noindex-->
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-4 col-sm-12 col-xs-12 text-center" style="font-size: 18px; font-family: sans-serif;">
					<a href="" rel="nofollow" title="Аттракционы Лопни шарик"><img alt="Аттракционы Лопни шарик" src="{% static 'img/logo.png'%}"></a>
				</div>
				<div class="col-md-4 col-md-pull-4 col-sm-12 col-xs-12" style="font-size: 18px; font-family: sans-serif;">
					<div class="row contacts">
						<div class="col-md-6 col-sm-6 col-xs-6 city">
							Москва
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 phone" style="font-size: 16px; font-family: sans-serif;">
							<a href="tel:+7 (999) 555 34 17">+7 (999) 555 34 17</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 hidden-xs send-order">
					<a href="order/" rel="nofollow">Получить консультацию</a>
				</div>
			</div>
			<div class="sticky-wrapper" id="sticky-wrapper" style="height: 0px;">
				<div class="row visible-xs mobile-search" style="">
					<div class="col-xs-12 send-order">
						<a href="https://krytota.ru/zakaz" rel="nofollow">Получить консультацию</a>
					</div>

				</div>
			</div>
		</div><!--/noindex-->
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb" itemscope="http://schema.org/breadcrumblist">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a href="" itemprop="item"><span itemprop="name">Главная</span></a>
							<meta content="1" itemprop="position">
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a href="https://krytota.ru/igrovyie-attrakczionyi" itemprop="item"><span itemprop="name">Правила игры</span></a>
							<meta content="2" itemprop="position">
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<span itemprop="item">Боулинг «Мини»</span>
							<meta content="3" itemprop="position">
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 hidden-xs">
					<!--noindex-->
					<aside itemscope itemtype="http://schema.org/WPSideBar">
						<nav class="attractions-nav-side">
							<section class="item-14" style="font-size: 18px; font-family: sans-serif;">
								<h2>
                                    <a href="https://krytota.ru/igrovyie-attrakczionyi" rel="nofollow">
                                        <span class="logo">
                                            <img alt="Игровые аттракционы" src="{% static '/img/titles/igrovyie_0x40_340.png' %}">
                                        </span>
                                        <span class="title">Как играть</span>
                                    </a>
                                </h2>
								<ul>
									<li class="first">
										<a href="https://krytota.ru/4-v-ryad">Правила игры</a>
									</li>
									<li>
										<a href="https://krytota.ru/pipe-ball">Как бросать дротики</a>
									</li>
									<li>
										<a href="https://krytota.ru/speed-test">Нюансы</a>
									</li>
									<li>
										<a href="https://krytota.ru/avtobol">Главный приз</a>
									</li>
								</ul>
							</section>
							<section class="item-15"style="font-size: 18px; font-family: sans-serif;">
								<h2>
                                    <a href="https://krytota.ru/nastolnyie-attrakczionyi" rel="nofollow">
                                        <span class="logo">
                                            <img alt="Аттракцион" src="{% static '/img/titles/nastolnyie_0x40_340.png'%}">
                                        </span>
                                        <span class="title">
                                            Как организовать
                                        </span>
                                    </a>
                                </h2>
								<ul>
									<li class="first">
										<a href="https://krytota.ru/aeroxokkej-arenda" rel="nofollow">Размер аттракциона</a>
									</li>
									<li>
										<a href="https://krytota.ru/arenda-bilyardnyx-stolov" rel="nofollow">Матрица для шариков</a>
									</li>
									<li>
										<a href="https://krytota.ru/birpong" rel="nofollow">Шарики</a>
									</li>
									<li>
										<a href="https://krytota.ru/boi-robotov" rel="nofollow">Дротики</a>
									</li>
									<li>
										<a href="https://krytota.ru/dujbol" rel="nofollow">Призы</a>
									</li>
								</ul>
							</section>
						</nav>
					</aside><!--/noindex-->
				</div>
				<div class="col-md-8 content" itemscope itemtype="http://schema.org/Product">
					<div class="hidden" itemprop="description">
						Мини-боулинг с длинной дорожки в 6 метров сможет украсить любой праздник.
					</div>
					<article>
						<div class="row">
							<div class="col-md-12" id="content-text">

								<h1 class="justifyleft">
                                    <span style="color: #99cc00;">
                                        {% block content-title %}  {% endblock %}
                                    </span>
                                </h1>

                                {% block content %}  {% endblock %}

							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</main>
	<footer itemscope="itemscope" itemtype="http://schema.org/WPFooter">
		<!--noindex-->
		<div class="container">
			<div class="col-md-4 menu">
				<div class="hidden-xs">
					<a href="/" rel="nofollow" title="Аренда аттракционов">Организация аттракциона</a> "Лопни шарик" в Москве
				</div><a href="/contacts" rel="nofollow">Контакты</a>
			</div>
			<div class="col-md-5 entrance-for-partners hidden-xs">
				<a href="/login" rel="nofollow" title="Войти на сайт">Войти на сайт</a>
			</div>
			<div class="col-md-3 text-center">
				<a href="/" rel="nofollow">Все аттракционы с ценами</a>
			</div>

	</footer><!-- js-->

	<div id="cboxOverlay" style="display: none;"></div>
	<div class="" id="colorbox" role="dialog" style="display: none;" tabindex="-1">
		<div id="cboxWrapper">
			<div>
				<div id="cboxTopLeft" style="float: left;"></div>
				<div id="cboxTopCenter" style="float: left;"></div>
				<div id="cboxTopRight" style="float: left;"></div>
			</div>
			<div style="clear: left;">
				<div id="cboxMiddleLeft" style="float: left;"></div>
				<div id="cboxContent" style="float: left;">
					<div id="cboxTitle" style="float: left;"></div>
					<div id="cboxCurrent" style="float: left;"></div><button id="cboxPrevious" type="button"></button><button id="cboxNext" type="button"></button><button id="cboxSlideshow" type="button"></button>
					<div id="cboxLoadingOverlay" style="float: left;"></div>
					<div id="cboxLoadingGraphic" style="float: left;"></div>
				</div>
				<div id="cboxMiddleRight" style="float: left;"></div>
			</div>
			<div style="clear: left;">
				<div id="cboxBottomLeft" style="float: left;"></div>
				<div id="cboxBottomCenter" style="float: left;"></div>
				<div id="cboxBottomRight" style="float: left;"></div>
			</div>
		</div>
		<div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
	</div>
</body>
</html>